body {
    margin: 0;
    padding: 0;
    background: #87CEEB; /* Göy rəng fon */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

canvas {
    border: 2px solid #333;
    background-image: url('assets/background.png');
    background-size: cover;
}
